*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F8FA;
}

/********************* HEADER ******************/

.header{
  background-color: white;
}

header .header-top img{
  vertical-align: middle;
  padding: 10px 15px;
}

header .header-top span{
  font-size: 2.5rem;
  vertical-align: middle;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: -13px;
}

/********************* MAIN ******************/

.container{
  max-width: 650px;
  background-color: #F7F9FA;
  margin: 0 auto;
  padding-top: 70px;
}

button{
  background-color: #49A9ED;
  width: 70px;
  height: 25px;
  border-radius: 15%;
  border-color: #49A9ED;
  font-size: 0.7rem;
  color: white;
  text-align: center;
}

.df-button{
  background-color: white;
  color: lightgrey;
  border-color: lightgrey;
  width: 85px;
}

section{
  background-color: red;
  max-width: 650px;
  padding-left: 60px;
  padding-top: 15px;
  min-height: 600px;
}

.lista-bf::before{
  font-size: 1.2rem;
  content: '\25BC';
  font-size: 0.8rem;
}

.lista-bf{
  font-size: 1.3rem;
}

.lista{
  padding-top: 20px;
}

.bf-content{
  padding-top: 10px;
}

.bf::before{
  content: '\2713';
}

.bf-after::before{
  content: '\2713';
}

.bf::after{
  content: 'Editorial';
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  color: white;
  background-color: #4AA7EA;
  font-size: 0.8rem;
  border-radius: 30%;
}

.bf{
  padding-bottom: 15px;
}
