*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F8FA;
}

/********************* HEADER ******************/

.header{
  background-color: white;
}

header .header-top img{
  vertical-align: middle;
  padding: 10px 15px;
}

header .header-top span{
  font-size: 2.5rem;
  vertical-align: middle;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: -13px;
}

/********************* MAIN ******************/

.container{
  max-width: 500px;
  background-color: #F7F9FA;
  margin: 0 auto;
  padding-top: 70px;
}

button{
  background-color: #49A9ED;
  width: 70px;
  height: 25px;
  border-radius: 15%;
  border-color: #49A9ED;
  font-size: 0.7rem;
  color: white;
  text-align: center;
}

.df-button{
  background-color: white;
  color: lightgrey;
  border-color: lightgrey;
  width: 85px;
}
